/* === Zmienne globalne === */
:root {
  --color-primary: #cd5ff8;
  --color-secondary: rgba(178, 121, 216, 0.959);
  --color-secondary-hover: rgba(222, 130, 235, 0.911);
  --color-background: #1b1429;
  --color-navbar: #181a27;
  --color-scrollbar-track: #2d1950;
  --font-family-base: "Raleway", serif;
  --font-size-base: 1.6rem;
  --transition-base: 0.3s ease-in-out;
}

/* === Reset i podstawowe style === */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base) !important;
  position: relative;
  line-height: 1.6;
  background-image: linear-gradient(270deg, #1b1429, #140f23);
  color: #ffffff !important;
  scrollbar-color: var(--color-primary) var(--color-scrollbar-track);
  scrollbar-width: thin;
}

ul {
  list-style: none;
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 12px;
  border: none;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary-hover);
}

/* === Nawigacja === */
.navbar {
  background-color: var(--color-navbar);
  transition: all 0.8s ease;
}

.navbar .navbar-toggler {
  padding: 1em 2em;
  border: none;
  outline: none;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.custom-toggler {
  border: none;
  background: none;
  padding: 0;
  outline: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler:not(.collapsed) .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggler:not(.collapsed) .hamburger span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-toggler.collapsed .hamburger span:nth-child(1),
.navbar-toggler.collapsed .hamburger span:nth-child(3) {
  transform: rotate(0) translate(0, 0);
}

.navbar-toggler.collapsed .hamburger span:nth-child(2) {
  opacity: 1;
}

.navbar .nav-link,
.navbar .navbar-brand {
  font-size: 2.2rem;
}

.navbar .nav-link {
  position: relative;
  color: #fff !important;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: #cd5ff8;
  border-radius: 16px;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar .navbar-nav .nav-link.active {
  color: #cd5ff8 !important;
  font-weight: bold;
}

.navbar-dark a.navbar-brand {
  font-size: 3rem;
  color: #cd5ff8;
  font-weight: bold;
}
.navbar-dark a.navbar-brand:hover {
  color: #cd5ff8;
}

.navbar .nav-item {
  margin-left: 32px;
}

.nav-link {
  white-space: nowrap;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
}
.nav-item i {
  margin-right: 5px;
}

.text-highlight {
  color: #cd5ff8;
}

/* === Kalendarz === */
.activity-calendar-container {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  max-width: 100%;
}
.react-activity-calendar {
  align-items: center;
}

.react-activity-calendar__footer {
  gap: 0 !important;
  justify-content: space-between !important;

  width: 100%;
}

.activity-calendar-container > div {
  width: 100%;
}

.react-activity-calendar .react-activity-calendar__legend-month {
  font-size: 1.2rem;
}

/* === Przycisk === */
.button button {
  font-size: 1.6rem;
  line-height: 1.5px;
  padding: 12px 12px;

  background-color: #623686;
  border-radius: 0.25rem;
  color: #fff;
  width: 250px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.button button:hover {
  background-color: #6d20c5d7;
  color: #fff;
}

/* === Media Queries === */
@media (min-width: 480px) {
  .activity-calendar-container > div {
    block-size: 12px !important;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nav-link {
    padding: 1rem 1.6rem !important;
  }
}

@media (min-width: 768px) {
  .navbar {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  .navbar.sticky {
    backdrop-filter: blur(15px) !important;
    background-color: #1b1a2ea9 !important;
    box-shadow: 0 10px 10px 0 rgba(9, 5, 29, 0.171) !important;
  }

  .navbar .nav-link,
  .navbar .navbar-brand {
    font-size: 1.9rem;
  }

  .react-activity-calendar .react-activity-calendar__legend-month {
    font-size: 1.8rem;
  }
}

@media (min-width: 1000px) {
  .nav-link {
    display: block !important;
  }
}
