.typewriterContainer {
  font-size: 1.4rem;
  font-family: "Raleway", serif;
  font-weight: bolder;
  white-space: nowrap;
  color: #cd5ff8;
  padding: 50px;
}

.typewriterText {
  display: inline-block;
  border-right: 2px solid #cd5ff8;
  padding-right: 5px;
  animation: blink 0.5s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (min-width: 768px) {
  .typewriterContainer {
    font-size: 2.2rem;
  }
}
